CARLA_SERVER_IMAGE=ghcr.io/nilskiefer/sb1-workzone-berkeley-carla-server-image:0.9.16-sanramon
CARLA_RUNTIME_ROOT=../carla-server/carla
CARLA_QUALITY_LEVEL=Epic
NVIDIA_VISIBLE_DEVICES=all
NVIDIA_DRIVER_CAPABILITIES=all
OMP_NUM_THREADS=48
